@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #ffb763;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 20px 20px 0 0;
    width: 43%;
    padding: 1rem 2rem;
}

.img-h1 {
    display: flex;
    align-items: center;
}

h1 {
    margin-left: 1rem;
    font-size: 16px;
    font-weight: 900;
}

.img-point {
    display: flex;
}

.point {
    width: 5%;
}

.img-chien {
    width: 100%;
}

main {
    background-color: #1fa1ff;
    width: 43%;
}
.share-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.share {
    color: white;
}

.fleche {
    width: 5%;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 43%;
    background-color: white;
    border-radius: 0 0 20px 20px;
    padding: 1rem;
}

.img-div {
    display: flex;
    justify-content: space-between;
}

.likes {
    padding-top: 1rem;
}